tweepy
flask[async]
flask-cors
python-dotenv
mysql-connector-python
schedule
regex
sentence-transformers
openai-whisper
moviepy==1.0.3
opencv-python 
opencv-contrib-python 
opencv-contrib-python-headless
ffmpeg-python
elevenlabs